


/*=====================================
          ALL VARIABLE DECLARE
======================================*/
:root {
    // FONT SIZE
    --h1size: 50px;
    --h2size: 28px;
    --h3size: 24px;
    --h4size: 20px;
    --h5size: 18px;
    --h6size: 16px;
    --bodysize: 16px;

    // FONT WEIGHT
    --rweight: 400;
    --mweight: 500;
    --sweight: 600;
    --bweight: 700;
    --eweight: 800;
    --bcweight: 900;

    // FONT FAMILY
    --pfamily: 'Heebo', sans-serif;
    --sfamily: 'Playfair Display', serif;

    // COLOR
    --textcolor: #555555;
    --brandcolor: #49a010;
    --whitecolor: #ffffff;
    --headingcolor: #232d3b;
    --headerborder: #009222;
    --navbarcolor: #ddffd5;
    --bordercolor: #e8e8e8;
    --graycolor: #f5f5f5;
    --pldrcolor: #777777;
    --starcolor: #ffcc23;
    --removecolor: #ff3838;
    --brandlight: #65ff00;

    // BOX SHADOW
    --bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
    --bcardshadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    --biconshadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);

    // TEXT SHADOW
    --tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
/*cahnge for something*/ 