


//========================================
//          1 - HELPERS FOLDER
//========================================
@import "../1-helpers/_mixin.scss";


//========================================
//          2 - COMPONENTS FOLDER
//========================================
@import "../2-components/_breadcrumb.scss";
@import "../2-components/_nav-tabs.scss";
@import "../2-components/_star-rating.scss";


//========================================
//          3 - ELEMENTS FOLDER
//========================================
@import "../3-elements/_section-heading.scss";
@import "../3-elements/_product-card.scss";


//========================================
//          4 - LAYOUTS FOLDER
//========================================
@import "../4-layouts/_single-banner.scss";


/*=====================================
        PRODUCT DETAILS PART STYLE
======================================*/
.product-part {
    padding: 100px 0px 0px;
}

// for product preview image slider
.preview-slider {
    border-radius: 8px;
    margin-bottom: 30px;
    margin-right: 30px;
    background: var(--whitecolor);
    border: 2px solid var(--bordercolor);
    
    img {
        width: 100%;
        border-radius: 3px;
    }

    .dandik,
    .bamdik {
        top: 50%;
    }
}

// for product thumbnail image slider
.thumb-slider {
    margin-right: 30px;

    img {
        width: 100%;
        margin: 0px 10px;
        border-radius: 3px;
        background: var(--whitecolor);
        border: 2px solid var(--bordercolor)
    }

    .slick-slide {
        cursor: pointer;
    }

    .slick-center {
        border: 2px solid var(--brandcolor);
    }
}

// for product name
.product-name {
    margin-bottom: 20px;
}

// for product review
.product-review {
    margin-bottom: 20px;

    ul {
        li {
            display: inline-block;

            i {
                font-size: 14px;
                color: var(--starcolor);
            }

            a {
                margin-left: 8px;
                color: var(--headingcolor);
                @include cursor__transition;
                
                &:hover {
                    color: var(--brandcolor);
                    text-decoration: underline;
                }
            }
        }
    }
}

// for product price
.product-price {
    margin-bottom: 20px;

    p {
        font-size: 28px;
        font-weight: 600;
        font-family: sans-serif;
        color: var(--headingcolor);

        del {
            font-size: 18px;
            color: var(--brandcolor);
        }
    }
}

// for product summery
.product-summery {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--bordercolor);
}

// for product cart
.product-cart {
    margin-bottom: 40px;

    ul {
        li {
            margin-right: 12px;
            display: inline-block;

            input {
                width: 100px;
                padding: 0px 15px;
                height: 50px;
                border-radius: 3px;
                border: 2px solid var(--bordercolor);

                &:focus-within {
                    border-color: var(--brandcolor);
                }
            }

            .btn {
                height: 50px;
            }

            .icon {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
            }

            .icon-outline {
                color: var(--brandcolor);
                background: var(--whitecolor);
                border: 2px solid var(--bordercolor);

                &:hover {
                    color: var(--whitecolor);
                    background: var(--brandcolor);
                    border-color: var(--brandcolor);
                }
            }
        }
    }
}

// for product payment card
.product-payment {
    @include flex__start;
    align-items: center;
    margin-bottom: 40px;

    h5 {
        margin-right: 15px;
    }

    ul {
        li {
            display: inline-block;
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            a {
                img {
                    width: 55px;
                }
            }
        }
    }
}

// for product share icon
.product-share {
    @include flex__start;
    align-items: center;
    margin-bottom: 40px;

    h5 {
        margin-right: 15px;
    }

    ul {
        display: flex;
    
        li {
            margin-right: 15px;
        }
    }
}

// for product contact number
.product-contact {
    padding: 30px 0px 0px;
    border-top: 1px solid var(--bordercolor);

    p {
        margin-bottom: 12px;
    }

    h4 {
        font-size: 24px;
        color: var(--brandcolor);

        i {
            margin-right: 12px;
            font-size: 22px;
        }
    }
}


// for product details part responsive
@media (max-width: 767px) {
    .product-part {
        padding: 60px 0px 0px;
    }

    .preview-slider {
        margin-right: 0px;
    }

    .thumb-slider {
        margin-bottom: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 991px) {
    .product-cart {
        ul {
            li {
                margin: 5px 5px;

                .btn {
                    padding: 12px 22px;
                }
            }
        }
    }

    .product-payment,
    .product-share {
        display: inherit;

        h5 {
            margin-bottom: 10px;
        }
    }
}


/*=====================================
        PRODUCT INFO PART STYLE
======================================*/
.product-info-content {
    margin-top: 100px;

    h2 {
        text-transform: capitalize;
        margin-bottom: 40px;
    }
}

.review-list {
    margin-bottom: 60px;
}

.review-item {
    @include flex__start;
    margin-bottom: 45px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.review-author {
    margin-right: 30px;

    a {
        img {
            width: 80px;
            border-radius: 10px;
        }
    }
}

.review-content {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: var(--whitecolor);
    border: 1px solid var(--bordercolor);

    h5 {
        font-weight: 600;
        margin-bottom: 10px;

        a {
            color: var(--headingcolor);
        }

        span {
            font-weight: 400;
            font-size: 13px;
        }
    }

    ul {
        margin-bottom: 10px;

        li {
            display: inline-block;
            margin-right: 5px;

            i {
                font-size: 14px;
                color: #bbbbbb;
            }
    
            .active {
                color: #ffcc23;
            }
        }
    }
}

.form-heading {
    margin-bottom: 25px;
}

.product-tab-desc {
    p {
        line-height: 28px;

        span {
            display: block;
            margin-top: 30px;
        }
    }
}

// for product info part responsive
@media (max-width: 767px) {
    .product-info-content {
        margin-top: 60px;
    }

    .form-btn {
        text-align: center;
    }
}

/*=====================================
            NEW PART STYLE
======================================*/
.new-part {
    padding: 120px 0px 120px;
}

@media (max-width: 767px) {
    .new-part {
        padding: 60px 0px;
    }
}